<!doctype html>
<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block head %}{% endblock %}

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-text">
	CONSENSY
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/all_polls">All Proposals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new_poll">New Proposal</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  {% block content %} Hello world! {% endblock %}

</body>
</html>