{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
	<div class="row">
		<div class="column">
			<h3>{{ poll.title }}.</h3><br>
			<p>DESCRIPTION:</p>
			<p>{{ poll.description }}</p><br>
			<p>PROMPT:</p>
			<p>{{ poll.prompt }}</p><br>

		</div>
	</div>

	<div class="row">
		<div class="column">
			<!-- TODO: Refactor form in JS / JQuery -->
			<form action='/poll/{{ poll.poll_id }}/submit_vote', method='POST'>

			    <input type='radio' id='agr' name='response' value='agr'>
			    <label for='agr'>Agree</label><br>

			    <input type='radio' id='rsv' name='response' value='rsv'>
			    <label for='rsv'>Reservations</label><br>


			    <input type='radio' id='asd' name='response' value='asd'>
			    <label for='asd'>Stand aside</label><br>

			    <input type='radio' id='blk' name='response' value='blk'>
			    <label for='blk'>Block</label><br>

			    <input type='submit' value='Submit'>
			</form>
		</div>
	</div>
</div>

<br><br>

{% endblock %}
